<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>Fort Scott Sports</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="author" href="humans.txt">
  <link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <style>
    .is-hidden {
      display: none;
    }
  </style>
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script src="//use.typekit.net/gzb3cen.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <h1 class="tk-chunk"><a href="/" title="Home page">Fort Scott Sports</a></h1>
  <nav id="main-navigation"> </nav>

  <section>
    <h2>Football</h2>

    <nav id="sub-navigation"> </nav>

    <h3>Headlines</h3>
    <ul class="headlines"> </ul>

    <h3>Scores</h3>

    <h3>Upcoming Games</h3>

  </section>

  <footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>

    <script type="text/template" class="navigation-view">
      <h1 class="is-hidden"><%= title %></h1>
      <ul>
      <% _.forEach(links, function(link){ %>
        <li><a href="<%= link.href %>"><%= link.title %></a></li>
      <% }) %>
      </ul>
    </script>
    <script type="text/template" class="headline-view">
    <h3><a href="<%= url %>"><%= title %></a></h3>
    <p><%= teaser %></p>
    </script>
    <script src="js/main.js"></script>
  </footer>
</body>
</html>